<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aboutus</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
</head>
<body>
    <header>
        <div class="header1">
          <h1>Farmer Equipment Rental System</h1>
        </div>
        <!-- <div class="header2">
        <nav>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contactus.html">Contact Us</a></li>
            <li><a href="cart.html">Cart</a></li>
            <li><a href="checkout.html">Checkout</a></li>
    
          </ul>
        </nav>
      </div> -->
      </header>

        <div class="content">
            <h1>ABOUT US</h1>
        </div>
  <section class="about-us">
    <!-- <h2>About Us</h2> -->
    <span>
    <p>Welcome to Farmer Equipment Rental System, your one-stop solution for all your farming equipment needs. We are passionate about supporting farmers by providing access to high-quality and efficient agricultural tools and machinery.</p>
    
  <hr>
    </span>
        <p>Our mission is to empower farmers with the right resources, enabling them to enhance productivity and achieve success in their agricultural endeavors. Whether you need tractors, plows, harvesters, or any other farming equipment, we've got you covered.</p>
        <hr>
      </span>
        <p>At Farmer Equipment Rental, we prioritize customer satisfaction and strive to make the equipment rental process seamless. Our dedicated team is committed to understanding your unique requirements and ensuring you have the right tools for the job.</p>
        <hr>
      </span>
        <p>Explore our range of equipment, experience convenience in farming, and join us in cultivating a future of agricultural excellence. Thank you for choosing Farmer Equipment Rental System!</p>
        <hr>
    </span>
  </section>

  <script src="script.js"></script>

</body>
</html>